/* .nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(222, 226, 230) !important; 
}
.nav h1 {
    color: blueviolet;
    margin: 0;
    font-size: 44px;
}
.nav .nav-search {
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .nav-search input{
    flex:1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-right: none;
}

.nav ul{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav ul li{
    padding-left: 15px;
    padding-top: 15px;

}
.nav ul a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
    transition-duration: .15s!important;
}
h1 a{
    color: blueviolet;
    text-decoration: none;
}

.Suggested-result {
	position: absolute;
	display: list-item !important;
	z-index: 10;
	background-color: #fff;
	width: 526px;
	top: 56px;
	border: 1px soild #ddd !important;
}

.nav-search ul{
    list-style-type: none;
    padding: .5rem;
}
.nav-search ul li {
    border-top: 1px solid #ddd;
    padding: 5px;
}
.nav-search ul li a {
text-decoration: none;
color: #000;
}
.nav-search ul li a:hover{
text-decoration: none;
color: royalblue;
}
nav ul li a {
    color: #000;
} */
.headerborder {
	border: 1px solid #dee2e6;
	border-width: 0 0 1px 0;
}

.logo-container {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
}
.flex1{
	display: flex;
	justify-content: center;
	align-items: center;
  }






  .Suggested-result {
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #ffffff;
    width: 66.5%;
    top: 50px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
.nav-search{

	display: flex;
	justify-content: center;
	flex: 1 1 auto;
}
.nav-search ul{
    list-style-type: none;
    padding: .5rem;
}
.nav-search ul li {
    border-top: 1px solid #ddd;
    padding: 5px;
}
.nav-search ul li a {
text-decoration: none;
color: #000;
}
.nav-search ul li a:hover{
text-decoration: none;
color: royalblue;
}
nav ul li a {
    color: #000;
}
